{{#each backgrounds}}
<div>
    <p>{{this.name}}</p>
</div>
{{/each}}
<a href='/crate/backgrounds'>open background crate</a>

{{#each texts}}
<div>
    <p>{{this.name}}</p>
</div>
{{/each}}
<a href='/crate/text_colors'>open text crate</a>