<div class="item-container">
    {{#each backgrounds}}
    {{>item}}
    {{/each}}
</div>
<a href='/crate/backgrounds'>open background crate</a>

<div class="item-container">
    {{#each texts}}
    {{>item}}
    {{/each}}
</div>
<a href='/crate/text_colors'>open text crate</a>
