<a href='/'>Home</a>
<h1>Backgrounds</h1>
<div class="item-container">
    {{#each background}}
    {{>item}}
    {{/each}}
</div>


<h1>Text Color</h1>
<div class="item-container">
    {{#each text}}
    {{>item}}
    {{/each}}
</div>

<a href="/catalog">Get more items</a>