<form method="POST" action="/background">
    
    <input type="text" name="name" placeholder="name">
    <input type="text" name="value" placeholder="value">
    <button class="btn btn-primary" type="submit">Save Background</button>

</form>

<form method="POST" action="/text">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="value" placeholder="value">
    <button class="btn btn-primary" type="submit">Save Text Color</button>

</form>