<h2>are you sure you want to delete {{item.name}}</h2>
<a href="/inventory"><button>No</button></a>

<form method="POST" action="/{{type}}/{{item._id}}?_method=DELETE"><button type="submit">delete</button></form>