<form method="POST" action="/sign-up">
    <input type="text" name="username" placeholder="User Name">
    <input type="text" name="password" placeholder="Password">
    <button type="submit">sign up</button>
</form>